<div id="<%= dom_id codebase_agent_service %>" class="card bg-base-200 shadow-xl mt-4 mb-4">
  <div class="card-body relative">
    <h3 class="card-title">
      <%= codebase_agent_service.name %>
    </h3>

    <div class="card-actions justify-end">
       <%= link_to("Show service",
      codebase_agent_service_path(codebase_agent_service),
      class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium"
      ) unless current_page?(codebase_agent_service_path(codebase_agent_service)) %>

      <%= button_to (codebase_agent_service.enabled? ? "Disable service" : "Enable service"), 
          codebase_agent_service_path(codebase_agent_service),
          params: {'codebase_agent_service[enabled]' => !codebase_agent_service.enabled?},
          method: :patch,
          class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium" %>
    </div>


  </div>
</div>
