<h4>Prompt</h4>
<% content = event.content %>
<% prompt = content["prompt"] %>
<% response = content["response"] %>
<div class="textarea textarea-primary">
  <%= markdown_to_html(middle_truncate(prompt, total: 450, lead: 225, trail: 225, fill: "\n\n...&lt;snip&gt;...\n\n" )) %>
</div>

<div class="textarea textarea-secondary">
  <%= markdown_to_html(middle_truncate(response, total: 450, lead: 225, trail: 225, fill: "\n\n...&lt;snip&gt;...\n\n" )) %>
</div>