<div id="<%= dom_id task %>" data-controller="tasks">
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= task.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Script:</strong>
    <%= task.script %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Output:</strong>
    <%= task.standard_output %>
  </p>
</div>
