<% event = autonomous_assignment_event %>

<div class="autonomous_assignment_event <%= event.type %> text-sm text-gray-700 bg-gray-100 rounded-lg p-3 w-full">
  <div class="assignment_name"><%= event.assignment.name %></div><div class="type"><%= event.type %></div><div class="content"><%= event.content %></div>
</div>