<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing agent run</h1>

  <%= render "form", agent_run: @agent_run %>

  <%= link_to "Show this agent run", @agent_run, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to agent runs", agent_runs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
